.App {
  background-color: #e7caaa;
  min-height: 100%;
}
body {
  font-family: "Segoe UI";
}
p {
  color: #903749;
  margin: 5px;
}
.logo {
  height: 111px;
  position: absolute;
  top: 66px;
  left: 212px;
  margin-right: 150px;
}
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 500px;
}
.teenivo-logo {
  height: 111px;
  width: 126px;
  margin: 2%;
}
.Signup input {
  margin: 11px 0 11px 0;
  background-color: #e3e0d7;
}
.Signup input:focus {
  background-color: #e3e0d7;
}
.Signup .register-form .forgot-password {
  font-size: 16px;
}
.Signup .register-form .forgot-password a {
  color: #0050b9;
}
.main-content {
  position: relative;
  top: 97px;
}
.Signin .logo img {
  height: 111px;
  width: 126px;
  margin: 2%;
}
.Signin input {
  margin: 11px 0 11px 0;
  background-color: #e3e0d7;
}
.Signin input:focus {
  background-color: #e3e0d7;
}
.home div {
  display: flex;
  flex-direction: column;
  margin: 2em;
}
.agreement {
  font-size: 13px;
  text-align: center;
}
.Signup,
.Signin,
.profile {
  transition: all 0.3s;
  width: 400px;
  padding: 1em;
}
.btns {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid transparent;
  background-color: transparent;
  height: 48px;
}
.btn-first {
  background-color: #903749;
  color: white;
}
.btn-first:hover {
  color: #903749;
  border: 1px solid #903749;
  background-color: transparent;
}
.btn-second {
  color: #903749;
  border: #903749 solid 1px;
}
.btn-second:hover {
  background-color: #903749;
  color: white;
}
.post-signup {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.personal-profile {
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.personal-profile .logo {
  width: 126px;
  height: 111px;
  margin-right: 100px;
}
.dob,
.gender {
  padding-left: 40px;
}
.subtext {
  color: #505050;
}
.group-box {
  border: 1px solid #505050;
  padding: 0.5em;
  margin: 9px 0 9px 0;
}
.profile-text {
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.profile-text .profile-text-inner {
  width: 350px;
}
.profile-text .logo {
  width: 126px;
  height: 111px;
  margin-right: 100px;
}
.text-input input,
.text-input textarea {
  margin: 11px 0 11px 0;
  width: 100%;
  background-color: #e3e0d7;
}
.add-photo .user-detail {
  background-color: #d7d7d7;
  margin: 11px 0 11px 0;
  padding: 1em;
}
.footer {
  bottom: 0em;
  position: relative;
}
.line {
  border: 0.5px solid black;
}
.footer-note {
  color: black;
}
.footer .footer-img {
  position: relative;
  left: 100px;
}
.connection {
  width: 617px;
  background-color: #e3e0d7;
  padding: 6px;
  position: relative;
  margin: 50px;
  left: 65px;
}

.connection-list .card {
  background-color: #f2f2f2;
}
.show-more {
  width: 50px;
  height: 50px;
}
.mynetwork .card {
  background-color: #e3e0d7;
}
.MuiFormControlLabel-root {
  margin: 0em;
}
.mypoint-icon label {
  font-size: 14px;
}
.mypoint-icon img {
  width: 20px;
  justify-content: center;
}
.myprofile {
  position: relative;
  left: 75px;
}
.myprofile {
  background-color: #e3e0d7;
}
.myprofile .profile-imgs {
  background-color: #f2f2f2;
}
