.App {
  background-color: #e7caaa;
  height: 850px;
}
p {
  color: #903749;
  margin: 5px;
}
.Signup input {
  margin: 5px 0 5px 0;
}
.Signup .register-form .forgot-password {
  font-size: 16px;
}
.Signup .register-form .forgot-password a {
  color: #0050b9;
}
.Signin input {
  margin: 5px 0 5px 0;
}
.home div {
  display: flex;
  flex-direction: column;
  margin: 2em;
}
.logo {
  width: 200px;
  height: 200px;
}
.Signup .btn-next {
  color: #903749;
  border: 1px solid #903749;
}
.Signup .btn-next:hover {
  background-color: #903749;
  color: white;
}
.agreement {
  font-size: 13px;
  text-align: center;
}
.Signup,
.Signin,
.profile {
  transition: all 0.3s;
  width: 400px;
  padding: 1em;
}
.btns {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid transparent;
  background-color: transparent;
  height: 48px;
}
.btn-first {
  background-color: #903749;
  color: white;
}
.btn-first:hover {
  color: #903749;
  border: 1px solid #903749;
  background-color: transparent;
}
.btn-second {
  color: #903749;
  border: #903749 solid 1px;
}
.btn-second:hover {
  background-color: #903749;
  color: white;
}
.post-signup {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.post-signup .logo {
  width: 126px;
  height: 111px;
  margin-right: 100px;
}
.personal-profile {
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.personal-profile .logo {
  width: 126px;
  height: 111px;
  margin-right: 100px;
}
.dob,
.gender {
  padding-left: 40px;
}
.subtext {
  color: #505050;
}
.group-box {
  border: 1px solid #505050;
  padding: 1em;
  margin: 11px 0 11px 0;
}
.profile-text {
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.profile-text .profile-text-inner {
  width: 350px;
}
.profile-text .logo {
  width: 126px;
  height: 111px;
  margin-right: 100px;
}
.text-input input,
.text-input textarea {
  margin: 11px 0 11px 0;
  width: 100%;
}
.add-photo .user-detail {
  background-color: #d7d7d7;
  margin: 11px 0 11px 0;
  padding: 1em;
}
.footer {
  margin-bottom: -9em;
}
.line {
  border: 0.5px solid black;
}
.footer-note {
  color: black;
}
